<!DOCTYPE html>
html(lang="fr")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='theme-color' content='#43dde6')
    meta(name='msapplication-navbutton-color' content='#43dde6')
    meta(name='description' content='Qui Prend Quoi est un outils permettant d\'organiser des évènement collaboratif')
    link(rel="stylesheet" href="/style.css")
    link(rel="icon" href="/icone.png")
    script(src="/script.js" async)
    link(rel="manifest" href="/manifest.json")
    script.
      if (navigator.serviceWorker) {
        console.log('All good');
        navigator.serviceWorker.register("/sw.js")
        .then(() => console.log('Service worker is registered'))
        .catch(err => console.warn(err));
      } else {
        console.log('Nothing to see here...');
      }
  body
  header 
      a.logo(href='/') Qui prend quoi ? 
        img.logo_img(src=`${baseFront}/icone.png` alt='logo site web')