@import './vendors/reset.scss';
@import './config/medias.scss';
@import './blocs/newParty.scss';
@import './blocs/header.scss';

body{
  background: #364f6b;
  color: #43dde6;
  padding: 5vw;
  padding-top: 2.5vw;
  font-family: Arial, Helvetica, sans-serif;

  h1{
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  h2{
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
  }
  h3{
    font-size: 40px;
    margin-bottom: 15px;
  }
 input,button{
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  button{
    background-color: #fc5185;
    color: white;
    border: none;
    padding: 10px;
    height: 38px;
    font-weight: bold;
  }
    min-height: calc( 100vh - 175px );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    section.content{
      padding-top: 50px;
      width:100%;
    }
}
